@CHARSET "UTF-8";
.bBtn04{
    font-family: Dotum;
    font-size: 14px;
    color: #000;
    text-align: center;
    border: none;
    background: url("../img/CkBtn.gif") no-repeat;
    width: 75px;
    height: 26px;
    cursor: hand;
    padding-top: 3px;
   }
.CK_box{
	width:717px;
	text-align: center;
}
.ContentsArea{
	padding: 10px 15px;
    font-family: Dotum;
    font-size: 12px;
    height: 93px;
	width:800px;
	height: 350px;
	position: relative;
	left: 250px;
	top:-1020px;
}
